@import "bootstrap-icons/font/bootstrap-icons.css";

.descricao {
    width: 500px;
    margin-top: 20px;
}

.tarefa {
    width: 90%;
}

body {
    margin-left: 20px;
}

.escrita {
    margin-top: 15px;
}

.button {
    margin-top: 20px;
}